:root {
  /*Ox color palette*/
  --ox-gray: 72, 71, 77;
  --ox-primary: 74, 54, 251;
  --ox-success: 31, 179, 91;
  --ox-danger: 255, 77, 79;
  --ox-warn: 244, 196, 28;
  --ox-dark: 0, 0, 0;
  /*Ox social colors*/
  --ox-facebook: 17, 152, 246;
  --ox-whatsapp: 15, 194, 68:;
  /*Ox typography*/
  --ox-font: "Josefin Sans", sans-serif;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.ox-bg-primary {
  background-color: rgba(74, 54, 251);
  color: white;
}
.ox-bg-success {
  background-color: rgba(31, 179, 91);
  color: white;
}
.ox-bg-danger {
  background-color: rgba(255, 77, 79);
  color: white;
}
.ox-bg-warn {
  background-color: rgba(244, 196, 28);
  color: white;
}
.ox-bg-dark {
  background-color: rgba(0, 0, 0);
  color: white;
}
.ox-p-4 {
  padding: 4px;
}
.ox-m-4 {
  margin: 4px;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .ox-avatar {
  margin: 2px;
}
.ox-avatar {
  --vs-color: var(--vs-gray-2);
  z-index: 1;
  width: 44px;
  height: 44px;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
}
.ox-avatar.ox-avatar-square {
  border-radius: 0%;
}
.ox-avatar.ox-avatar-xs {
  width: 30px;
  height: 30px;
}
.ox-avatar.ox-avatar-sm {
  width: 37px;
  height: 37px;
}
.ox-avatar.ox-avatar-md {
  width: 44px;
  height: 44px;
}
.ox-avatar.ox-avatar-lg {
  width: 60px;
  height: 60px;
}
.ox-avatar.ox-avatar-xl {
  width: 70px;
  height: 70px;
}
.ox-avatar .ox-avatar-badge {
  position: absolute;
  width: 13px;
  height: 13px;
  background: rgba(31, 179, 91, 1);
  border-radius: 50%;
  border: 2px solid white;
  bottom: -4px;
  font-size: 0.6rem;
  font-weight: 700;
  z-index: 200;
}
.ox-avatar .ox-avatar-badge.ox-avatar-warn {
  background: rgba(244, 196, 28, 1);
}
.ox-avatar .ox-avatar-badge.ox-avatar-primary {
  background: rgba(74, 54, 251, 1);
}
.ox-avatar .ox-avatar-badge.ox-avatar-danger {
  background: rgba(255, 77, 79, 1);
}
.ox-avatar .ox-avatar-badge.ox-avatar-dark {
  background: rgba(0, 0, 0, 1);
}
.ox-avatar .ox-avatar-image {
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.05);
}
.ox-avatar .ox-avatar-image img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.08);
  overflow: hidden;
}
.ox-avatar .ox-avatar-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: inherit;
}
.ox-avatar-icon {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.05);
}
.ox-avatar-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
