@import "./ox.less";
.ox-btn {
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  font-size: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-primary, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-dark, 0.04);
    color: rgba(@ox-dark);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-dark, 0.04);
    color: rgba(@ox-dark);
    border: 2px solid rgba(@ox-dark, 0.6);
  }
}

.ox-btn-primary {
  background-color: rgba(@ox-primary);
  color: white;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-primary, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    filter: brightness(1.04);
    box-shadow: 0px 1px 10px -2px rgba(@ox-primary, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-primary, 0.1);
    color: rgba(@ox-primary);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-primary, 0.04);
    color: rgba(@ox-primary);
    border: 2px solid rgba(@ox-primary, 1);
  }
}
.block {
  width: 100%;
}
.ox-btn-square {
  border-radius: 0px;
}

.ox-btn-success {
  background-color: rgba(@ox-success);
  color: white;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-success, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    filter: brightness(1.04);
    box-shadow: 0px 1px 10px -2px rgba(@ox-success, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-success, 0.1);
    color: rgba(@ox-success);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-success, 0.04);
    color: rgba(@ox-success);
    border: 2px solid rgba(@ox-success, 1);
  }
}

.ox-btn-danger {
  background-color: rgba(@ox-danger);
  color: white;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-danger, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    filter: brightness(1.04);
    box-shadow: 0px 1px 10px -2px rgba(@ox-danger, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-danger, 0.1);
    color: rgba(@ox-danger);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-danger, 0.04);
    color: rgba(@ox-danger);
    border: 2px solid rgba(@ox-danger, 1);
  }
}

.ox-btn-warn {
  background-color: rgba(@ox-warn);
  color: white;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-warn, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    filter: brightness(1.04);
    box-shadow: 0px 1px 10px -2px rgba(@ox-warn, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-warn, 0.1);
    color: rgba(@ox-warn);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-warn, 0.04);
    color: rgba(@ox-warn);
    border: 2px solid rgba(@ox-warn, 1);
  }
}

.ox-btn-dark {
  background-color: rgba(@ox-dark);
  color: white;
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 5px 10px -2px rgba(@ox-dark, 0.2);
  }
  &:active {
    transform: translate(0, -1px);
    filter: brightness(1.04);
    box-shadow: 0px 1px 10px -2px rgba(@ox-dark, 0.2);
  }
  &.ox-btn-flat {
    background-color: rgba(@ox-dark, 0.04);
    color: rgba(@ox-dark);
  }
  &.ox-btn-outline {
    background-color: rgba(@ox-dark, 0.04);
    color: rgba(@ox-dark);
    border: 2px solid rgba(@ox-dark, 1);
  }
}

.ox-btn-rounded {
  border-radius: 50px;
}

.ox-group-buttons {
  display: flex;
  button:first-child {
    border-radius: 8px 0px 0px 8px;
  }
  button {
    border-radius: 0px 0px 0px 0px;
  }
  button:last-child {
    border-radius: 0px 8px 8px 0px;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.2;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
