:root {
  /*Ox color palette*/
  --ox-gray: 72, 71, 77;
  --ox-primary: 74, 54, 251;
  --ox-success: 31, 179, 91;
  --ox-danger: 255, 77, 79;
  --ox-warn: 244, 196, 28;
  --ox-dark: 0, 0, 0;
  /*Ox social colors*/
  --ox-facebook: 17, 152, 246;
  --ox-whatsapp: 15, 194, 68:;
  /*Ox typography*/
  --ox-font: "Josefin Sans", sans-serif;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.ox-bg-primary {
  background-color: rgba(74, 54, 251);
  color: white;
}
.ox-bg-success {
  background-color: rgba(31, 179, 91);
  color: white;
}
.ox-bg-danger {
  background-color: rgba(255, 77, 79);
  color: white;
}
.ox-bg-warn {
  background-color: rgba(244, 196, 28);
  color: white;
}
.ox-bg-dark {
  background-color: rgba(0, 0, 0);
  color: white;
}
.ox-p-4 {
  padding: 4px;
}
.ox-m-4 {
  margin: 4px;
}
.ox-btn {
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  font-size: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
}
.ox-btn .ox-ripple-container {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  animation: animate 1s linear infinite;
}
.ox-btn .test {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
.ox-btn:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(74, 54, 251, 0.2);
}
.ox-btn:active {
  transform: translate(0, -1px);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.ox-btn.ox-btn-flat {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0);
}
.ox-btn.ox-btn-outline {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.ox-btn-primary {
  background-color: rgba(74, 54, 251);
  color: white;
}
.ox-btn-primary:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(74, 54, 251, 0.2);
}
.ox-btn-primary:active {
  transform: translate(0, -1px);
  filter: brightness(1.04);
  box-shadow: 0px 1px 10px -2px rgba(74, 54, 251, 0.2);
}
.ox-btn-primary.ox-btn-flat {
  background-color: rgba(74, 54, 251, 0.1);
  color: rgba(74, 54, 251);
}
.ox-btn-primary.ox-btn-outline {
  background-color: rgba(74, 54, 251, 0.04);
  color: rgba(74, 54, 251);
  border: 2px solid rgba(74, 54, 251, 1);
}
.block {
  width: 100%;
}
.ox-btn-square {
  border-radius: 0px;
}
.ox-btn-success {
  background-color: rgba(31, 179, 91);
  color: white;
}
.ox-btn-success:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(31, 179, 91, 0.2);
}
.ox-btn-success:active {
  transform: translate(0, -1px);
  filter: brightness(1.04);
  box-shadow: 0px 1px 10px -2px rgba(31, 179, 91, 0.2);
}
.ox-btn-success.ox-btn-flat {
  background-color: rgba(31, 179, 91, 0.1);
  color: rgba(31, 179, 91);
}
.ox-btn-success.ox-btn-outline {
  background-color: rgba(31, 179, 91, 0.04);
  color: rgba(31, 179, 91);
  border: 2px solid rgba(31, 179, 91, 1);
}
.ox-btn-danger {
  background-color: rgba(255, 77, 79);
  color: white;
}
.ox-btn-danger:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(255, 77, 79, 0.2);
}
.ox-btn-danger:active {
  transform: translate(0, -1px);
  filter: brightness(1.04);
  box-shadow: 0px 1px 10px -2px rgba(255, 77, 79, 0.2);
}
.ox-btn-danger.ox-btn-flat {
  background-color: rgba(255, 77, 79, 0.1);
  color: rgba(255, 77, 79);
}
.ox-btn-danger.ox-btn-outline {
  background-color: rgba(255, 77, 79, 0.04);
  color: rgba(255, 77, 79);
  border: 2px solid rgba(255, 77, 79, 1);
}
.ox-btn-warn {
  background-color: rgba(244, 196, 28);
  color: white;
}
.ox-btn-warn:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(244, 196, 28, 0.2);
}
.ox-btn-warn:active {
  transform: translate(0, -1px);
  filter: brightness(1.04);
  box-shadow: 0px 1px 10px -2px rgba(244, 196, 28, 0.2);
}
.ox-btn-warn.ox-btn-flat {
  background-color: rgba(244, 196, 28, 0.1);
  color: rgba(244, 196, 28);
}
.ox-btn-warn.ox-btn-outline {
  background-color: rgba(244, 196, 28, 0.04);
  color: rgba(244, 196, 28);
  border: 2px solid rgba(244, 196, 28, 1);
}
.ox-btn-dark {
  background-color: rgba(0, 0, 0);
  color: white;
}
.ox-btn-dark:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
}
.ox-btn-dark:active {
  transform: translate(0, -1px);
  filter: brightness(1.04);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.ox-btn-dark.ox-btn-flat {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0);
}
.ox-btn-dark.ox-btn-outline {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 1);
}
.ox-btn-rounded {
  border-radius: 50px;
}
.ox-group-buttons {
  display: flex;
}
.ox-group-buttons button:first-child {
  border-radius: 8px 0px 0px 8px;
}
.ox-group-buttons button {
  border-radius: 0px 0px 0px 0px;
}
.ox-group-buttons button:last-child {
  border-radius: 0px 8px 8px 0px;
}
@keyframes animate {
  0% {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0.2;
  }
  100% {
    position: absolute;
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}
