:root {
  /*Ox color palette*/
  --ox-gray: 72, 71, 77;
  --ox-primary: 74, 54, 251;
  --ox-success: 31, 179, 91;
  --ox-danger: 255, 77, 79;
  --ox-warn: 244, 196, 28;
  --ox-dark: 0, 0, 0;
  /*Ox social colors*/
  --ox-facebook: 17, 152, 246;
  --ox-whatsapp: 15, 194, 68:;
  /*Ox typography*/
  --ox-font: "Josefin Sans", sans-serif;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.ox-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  transition: all 0.25s ease;
}
.ox-input-group .ox-group-icon {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  z-index: 100;
}
.ox-input-group:focus {
  border: 2px solid rgba(25, 91, 255);
}
.ox-input-group .ox-form-control {
  padding: 10px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid transparent;
  background: rgba(240, 243, 244);
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.25s ease;
  font-size: 0.9rem;
}
.ox-input-group .ox-form-control.ox-input-square {
  border-radius: 0px;
}
.ox-input-group .ox-form-control.ox-input-primary {
  padding-left: 30px;
}
.ox-input-group .ox-form-control.ox-input-primary:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.ox-input-group .ox-form-control.ox-input-primary:focus {
  border: 2px solid rgba(74, 54, 251);
}
.ox-input-group .ox-form-control.ox-input-success {
  padding-left: 30px;
}
.ox-input-group .ox-form-control.ox-input-success:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.ox-input-group .ox-form-control.ox-input-success:focus {
  border: 2px solid rgba(31, 179, 91);
}
.ox-input-group .ox-form-control.ox-input-danger {
  padding-left: 30px;
}
.ox-input-group .ox-form-control.ox-input-danger:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.ox-input-group .ox-form-control.ox-input-danger:focus {
  border: 2px solid rgba(255, 77, 79);
}
.ox-input-group .ox-form-control.ox-input-warn {
  padding-left: 30px;
}
.ox-input-group .ox-form-control.ox-input-warn:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.ox-input-group .ox-form-control.ox-input-warn:focus {
  border: 2px solid rgba(244, 196, 28);
}
.ox-input-group .ox-form-control.ox-input-dark {
  padding-left: 30px;
}
.ox-input-group .ox-form-control.ox-input-dark:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.ox-input-group .ox-form-control.ox-input-dark:focus {
  border: 2px solid rgba(0, 0, 0);
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.block {
  width: 100%;
}
